<!DOCTYPE html>
<html>
  <head>
    <title>NJTimesCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.modalIMG = "<%= image_url('brownies.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
