<!DOCTYPE html>
<html>
  <head>
    <title>NJTimesCooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="<%= image_url('njlogoredwhite.png') %>"/>
    <script type="text/javascript">
      window.modalIMG = "<%= image_url('brownies2.jpg') %>";
      window.logoIMG = "<%= image_url('cooking_logo.png') %>";
      window.njIMG = "<%= image_url('njlogo.png') %>";
      window.njredwhiteIMG = "<%= image_url('njlogoredwhite.png') %>";
      window.eggplant = "<%= image_url('eggplant_tomato_pie.jpg') %>";
      window.egg_sandwich = "<%= image_url('egg_sandwich.jpg') %>";
    </script>
    <script src="https://kit.fontawesome.com/1576428ae6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
